DISCORD_TOKEN=your_discord_bot_token
MONGODB_URI=your_mongodb_url
CLIENT_ID=your_client_id
SUPPORT_SERVER_URL=https://discord.gg/your-server
VOTE_URL=https://top.gg/bot/your_bot_id/vote
GIPHY_API_KEY=YOUR_GIPHY_API_KEY_HERE
WEATHER_API_KEY=YOUR_OPENWEATHERMAP_API_KEY_HERE
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
REPORT_CHANNEL_ID=
GUILD_LOG_CHANNEL_ID=
COMMAND_LOG_CHANNEL_ID=
ERROR_LOG_CHANNEL_ID=
